@font-face {
  font-family: 'PasseroOne';
  src: url('../fonts/PasseroOne-Regular.ttf')  format('truetype');
}

.box {

}

.boxVisible {
    border-radius: 50%;
    background: radial-gradient(circle at 0px 0px, #FF0, #555);
}

.apple {
    border-radius: 50%;
    background: radial-gradient(circle at 0px 0px, #0F0, #555);
}

.frame {
    background-color: black;
}

.hud {
    background-color: #555;
    color: #CCC;
    height: 40px !important;
    clear:both;
    background-color: grey;
}

.hud-score {
    height: 40px;
    line-height: 40px;
    font-family: "PasseroOne";
    margin-left: auto;
    margin-right: 0px;
    width: 6em;
    font-size: 22px;
    text-align:right;
    margin-right: 1em;
}

.hud-timer {
    height: 40px;
    line-height: 40px;
    font-family: "PasseroOne";
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
    width: 5em;
    font-size: 22px;
    text-align:center;
}

.rounded-circle {
    background-image: url('../img/snake.png');
    height: 110px;
    width: 188px;
    background-position: center top;
    box-shadow: 0px 0px 8px 1px #555 inset;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 1.5em;
}

.title {
    text-align: center;
}

.logo {
    display: block;
    background-repeat: no-repeat;
    background-size: 26%;
}

.webworker {
    height: 90%;
    width: 100%;
    margin-left: 16%;
    background-image: url('../img/gears.png');
    background-position: left bottom;
    background-size: 12%;
}

.webgl {
    height: 100%;
    width: 90%;
    margin-left: 15%;
    background-image: url('../img/webgl.png');
    background-position: left bottom;
}
